html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
}

.blind {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}

.header {
  padding: 10px;
}
.header:after {
  display: block;
  clear: both;
  content: "";
}
.header .site_title {
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 33px;
  color: #004891;
}
.header .gnb {
  float: right;
}
.header .gnb:after {
  display: block;
  clear: both;
  content: "";
}
.header .gnb li {
  float: left;
  font-size: 20px;
}
.header .gnb a {
  display: block;
  padding: 7px 15px;
  box-sizing: border-box;
}
.header .gnb a:hover {
  position: relative;
  color: #1287ff;
}
.header .gnb a:hover:after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: #1287ff;
  content: "";
}

.section .form_title {
  font-size: 20px;
  text-align: center;
}
.section .form_table th,
.section .form_table td {
  padding: 5px 0;
}
.section .form_table input {
  height: 25px;
  border: 1px solid #004891;
  font-size: 14px;
}
.section .form_table input[type=text] {
  width: 100%;
}
.section .form_table textarea {
  border: 1px solid #004891;
  resize: none;
}
.section .form_table .radio_list li {
  float: left;
}
.section .form_table .radio_list li + li {
  margin-left: 30px;
}
.section .form_table .radio_list label {
  position: relative;
  padding-left: 20px;
}
.section .form_table .radio_list .custom_radio {
  position: absolute;
  top: 50%;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #004891;
  border-radius: 50%;
  background-color: #fff;
  transform: translateY(-50%);
  content: "";
}
.section .form_table .radio_list .custom_input:checked + .custom_label .custom_radio:after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #004891;
  transform: translate(-50%, -50%);
  content: "";
}
.section .custom_file {
  display: inline-block;
  padding: 5px;
  background-color: #004891;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
