@charset 'UTF-8';

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
	margin: 0;
	padding: 0;
	font-size: 14px;
}

ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #000;
}

table {
	table-layout: fixed;
	border-collapse: collapse;
}

.blind {
	overflow: hidden;
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	clip: rect(0 0 0 0);
}