@import '_base.scss';
@import '_mixin.scss';

$point: #004891;
$point-light: lighten($point, 25%);

.header {
	@include clearFix;
	
	padding: 10px;
	
	.site_title {
		float: left;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 33px;
		color: $point;
	}
	
	.gnb {
		@include clearFix;
		
		float: right;
	
		li {
			float: left;
			font-size: 20px;
		}
		
		a {
			display: block;
			padding: 7px 15px;
			box-sizing: border-box;
			
			&:hover {
				position: relative;
				color: $point-light;
				
				&:after {
					position: absolute;
					right: 0;
					bottom: 0;
					left: 0;
					height: 2px;
					background-color: $point-light;
					content: '';
				}
			}
		}
	}
}

.section {
	.form_title {
		font-size: 20px;
		text-align: center;
	}
	
	.form_table {
		th, 
		td {
			padding: 5px 0;
		}
		
		input {
			height: 25px;
			border: 1px solid $point;
			font-size: 14px;
			
			&[type="text"] {
				width: 100%;
			}
		}
		
		textarea {
			border: 1px solid $point;
			resize: none;
		}
		
		.radio_list {
			li {
				float: left;
				
				& + li {
					margin-left: 30px;
				}
			}
			

			
			label {
				position: relative;
				padding-left: 20px;
			}
			
			.custom_radio {
				position: absolute;
				top: 50%;
				left: 0;
				width: 15px;
				height: 15px;
				border: 1px solid $point;
				border-radius: 50%;
				background-color: #fff;
				transform: translateY(-50%);
				content: '';
			}
			
			.custom_input:checked + .custom_label .custom_radio:after {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 7px;
				height: 7px;
				border-radius: 50%;
				background-color: $point;
				transform: translate(-50%, -50%);
				content: '';
			}
		}
	}
	
	.custom_file {
		display: inline-block;
		padding: 5px;
		background-color: $point;
		color: #fff;
	}
}